#home
  %header
    %h2
      %i.fa.fa-arrow-up
      Direct Access
  %hr
  %section
    #direct-access
      - @journals.each do |journal|
        .journal-source
          %content
            .row
              .col-md-6
                %h3{style: "margin-top: 15px;"}= journal.name
              .col-md-6
                .action{style: "margin-top: 5px;"}
                  .pull-right
                    = link_to access_journal_path(journal), class: "btn btn-primary btn-lg" do
                      Access
                      %i.fa.fa-arrow-right
                  .clearfix
