%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Journalist", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      - if is_admin?
        %ul.nav.navbar-nav
          %li= link_to "User", admin_user_index_path
          %li= link_to "Journal", admin_journals_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
              %i.fa.fa-user
              = current_user.full_name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_user_registration_path do
                  %i.fa.fa-key
                  Edit Password
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-power-off
                  Sign out
