- provide(:title, "Change Password")
#devise
  %header
    %h3.text-center Change your password
  %hr
  %section
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { role: "form", class: "form-horizontal", method: :put }) do |f|
      = render 'layouts/shared/errors', object: f.object
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "Email", class: "sr-only"
        .col-md-12
          = f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "Password", class: "form-control"
      .form-group
        = f.label :password_confirmation, "Password confirmation", class: "sr-only"
        .col-md-12
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control"
      .form-group
        .col-md-12
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-upload
            Change my password
  = render "devise/shared/links"
