- url = @user.new_record? ? admin_user_index_path : admin_user_path(@user)
#user-modal.modal.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "userModalLabel", "aria-hidden" => "true", "data-backdrop" => "static", "data-keyboard" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4#userModalLabel.modal-title
          = @user.new_record? ? "Create new user" : "Edit user"
      = form_for @user, url: url, remote: true, html: {role: "form", class: "form-horizontal"} do |f|
        .modal-body
          = render "layouts/shared/errors", object: f.object
          .form-group
            = f.label :full_name, "Full Name", class: "col-sm-3 control-label"
            .col-sm-9
              = f.text_field :full_name, class: "form-control", placeholder: "User full name", autocomplete: "off", autofocus: true
          .form-group
            = f.label :email, "Email", class: "col-sm-3 control-label"
            .col-sm-9
              = f.email_field :email, class: "form-control", placeholder: "User email", autocomplete: "off"
          .form-group
            = f.label :role, "Role", class: "col-sm-3 control-label"
            .col-sm-9
              = f.select :role, options_for_select(User::ROLE, selected: @user.role), {}, {class: "form-control"}
          %legend Credential
          .form-group
            = f.label :password, "Password", class: "col-sm-3 control-label"
            .col-sm-9
              = f.password_field :password, class: "form-control", placeholder: "User password", autocomplete: "off"
          .form-group
            = f.label :password_confirmation, "Password confirmation", class: "col-sm-3 control-label"
            .col-sm-9
              = f.password_field :password_confirmation, class: "form-control", placeholder: "User password confirmation", autocomplete: "off"
          .modal-footer
            %button.btn.btn-primary{type: "submit"}
              %i.fa.fa-upload
              Save
            %button.btn.btn-default{type: "button", "data-dismiss" => "modal"}
              %i.fa.fa-times
              Cancel
