- provide(:title, "Manage User")
#users
  %header
    .col-md-12
      .row
        .col-md-6
          %h2 Manage User
        .col-md-6
          .action{style: "margin-top: 20px;"}
            .pull-right
              = link_to new_admin_user_path, class: "btn btn-primary btn-lg", remote: true do
                %i.fa.fa-user
                Add User
    .clearfix
  %hr
  %section
    %table#user-tables.table.table-bordered{"data-url" => admin_user_index_path(format: "json")}
      %thead
        %tr
          %th
            .text-center Full name
          %th
            .text-center Email
          %th
            .text-center Role
          %th
            .text-center Created at
          %th
            .text-center Action
