<% content_for :additional_js do %>
  var a = $("#user-tables").dataTable();
  a._fnAjaxUpdate();
<%end%>
<%= render partial: "layouts/shared/javascripts/responder", locals: { selector: "#user-modal"} %>
