- provide(:title, "Manage journal")
#journals
  %header
    .col-md-12
      .row
        .col-md-6
          %h2 Manage journal
        .col-md-6
          .action{style: "margin-top: 20px;"}
            .pull-right
              =link_to new_admin_journal_path, class: "btn btn-primary btn-lg", remote: true do
                %i.fa.fa-book
                Add Journal
    .clearfix
  %hr
  %section
    %table#journal-tables.table.table-bordered{"data-url" => admin_journals_path(format: "json")}
      %thead
        %tr
          %th
            .text-center Name
          %th
            .text-center Driver
          %th
            .text-center Journal Account
          %th
            .text-center Manage Journal Account
          %th
            .text-center Action
