<% content_for :additional_js do %>
  var a = $("#journal-account-tables").dataTable();
  a._fnAjaxUpdate();
<%end%>
<%= render partial: "layouts/shared/javascripts/responder", locals: { selector: "#journal-account-modal"} %>
